* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.spinner-overlay {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100vw;          
  height: 100vh;         
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;        
  justify-content: center; 
  align-items: center;     
  z-index: 9999;        
  backdrop-filter: blur(2px); 
}

/* ↓ esta clase appTodo esta en App.jsx 😫*/
.appTodo {
    background-color: rgb(21, 9, 27);

}


/* ──────────────────────────────── */
/* LOGIN */
/* ──────────────────────────────── */

.login-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("./src/assets/Gallito.jpg");
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formLabel {
    color: white !important;
}

/* ──────────────────────────────── */
/* HEADER */
/* ──────────────────────────────── */


.header {
    position: absolute !important;
    top: 0;
    width: 80vw;
    left: 10% !important;
    right: 10% !important;
    padding-top: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 10;

}



.headerEspacio {
    position: absolute !important;
    top: 0;
    width: 100%;
    display: flex !important;
    align-items: center !important;
    flex-direction: row;
    z-index: 10;
    justify-content: space-between;
    background-color: none;
    overflow-x: hidden;
    padding: 0;


}

.navbarHome {
    width: 100vw;
}

.logobox {
    display: flex;
    background-color: rgb(251, 255, 0);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 60px;
    width: 60px;
    margin: 2rem;
    transform: rotate(45deg);

}

.navbar-brand {
    padding: 0px;
}

.logobox span {
    color: rgb(102, 31, 255);
    font-size: 2rem;
    transform: rotate(-45deg);
    text-shadow: 2px 2px 4px #000;
}

.header-boxbuttons {
    width: 70%;
    background-color: white;
    border-radius: 26px;
    display: flex;
    justify-content: space-evenly;
}

.botones {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px !important;
}

.botones span {
    color: rgb(0, 0, 0);
    pointer-events: auto;
}

.botones span:hover {
    color: tomato;
}



/* ──────────────────────────────── */
/* HOME */
/* ──────────────────────────────── */

.homeDiv {
    height: 120vh;
    background-color: rgb(22, 9, 27);

}

.gallito {
    width: 100%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.big-letter-container {
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    overflow: hidden;
    height: 80vh;
}

.bigLetterTienda,
.bigLetterOfertas,
.bigLetterLogin {
    font-size: clamp(5rem, 15vw, 20vw);
    width: 90vw;
    line-height: 0.7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    mix-blend-mode: color;
    z-index: 10;
    pointer-events: none;
    text-decoration: none;
    color: blue;
}

.bigLetterLogin {
    margin-left: 20%;
}

.bigLetterOfertas {
    display: flex;
    justify-content: flex-end;
}

.bigLetterTienda span,
.bigLetterOfertas span,
.bigLetterLogin span {
    pointer-events: auto;
}

.bigLetterTienda:hover,
.bigLetterOfertas:hover,
.bigLetterLogin:hover {
    mix-blend-mode: color-dodge;
}

/* ──────────────────────────────── */
/* TIENDA */
/* ──────────────────────────────── */

.contenedor-tienda {
    position: relative;
    width: 100%;
    top: 10vh;
}

.barraDeBusqueda {
    display: flex !important;
    justify-content: center !important;
}


.cardButtonAgregar {
    display: flex;
    justify-content: flex-end;
}

/* ──────────────────────────────── */
/* SSIDEBAR */
/* ──────────────────────────────── */

.sidebarCaja {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.cajaCard2 {
    display: flex;
    justify-content: center !important;
}

.cart {
    gap: 12px;
}

/* ──────────────────────────────── */
/* FOOTER */
/* ──────────────────────────────── */
.pieDePagina {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 0, 0, 0));
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: auto;
}

.derechosReservados {
    width: 100vw;
    display: flex;
    justify-content: end;
    padding-right: 2rem;

}

.mb-4 {
    display: flex !important;
    width: 50% !important;
    /* margin-left: 50%; */
}

/* ──────────────────────────────── */
/* CRUD FONDO */
/* ──────────────────────────────── */
.crudBackground {
    position: relative;
    min-height: 100%;
    width: 100%;

    background-color: rgb(21, 9, 27);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20vh;
}




/* ──────────────────────────────── */
/* CRUD - CONTENIDO */
/* ──────────────────────────────── */

.crudbox {
    position: relative;
    z-index: 2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.crudbox h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: white;
}



/* ──────────────────────────────── */
/* TABLA CRUD */
/* ──────────────────────────────── */

.tablaCrud {
    width: 80%;
    height: 80%;
    border-radius: 16px;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
    flex-direction: column;
    backdrop-filter: blur(4px);
}
.tablaCarrito {
    width: 100%;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
    flex-direction: column;
}

.carritoVacio {
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 9, 27);
    display: flex;
    justify-content: center;
    align-items: center;

}

.carritoVacio h3 {
    color: white;
}


.cajaCarrito {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin-top: 15%;
    display: flex !important;
    justify-items: center !important;
    align-items: center !important;
    flex-direction: column;
    backdrop-filter: blur(4px);
    padding: 20px;
}

.tablaCrud table {
    border-radius: 16px;
    margin: 0;
    overflow: hidden;
}

.botones-agregar-eliminar {
    margin: 10px;
}

.text-end {
    color: black;
    padding: 10px;
}

/* Quitar bordes feos de frankestein bootstrap */
.table> :not(caption)>*>* {
    border: none !important;
}

/* Centrado de celdas 🧟‍♂️*/
.tablaCrud table td,
.tablaCrud table th {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 10px;
}


/* ──────────────────────────────── */
/* PAGINADOR */
/* ──────────────────────────────── */
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}



/* ──────────────────────────────── */
/* CARRITO */
/* ──────────────────────────────── */


.contCarritoIcon {
    display: flex;
    margin-right: 30px;
}

.material-symbols-outlined {
    color: rgb(114, 81, 191);
    pointer-events: auto;
    font-size: 3rem;
}

.material-symbols-outlined:hover {
    color: tomato;
}


.offcanvas-header .btn-close {
    padding: 1rem !important;
    font-size: 2rem;
}



/* ──────────────────────────────── */
/* MEDIA QUERIES */
/* ──────────────────────────────── */



@media (max-width: 811px) {

.divGallito {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallito {
    width: 110vw;
}

.logobox {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    margin-left: 1rem;

}

.login-box {
    background-size: cover;
    background-position-y: 20%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    background-repeat: no-repeat;

}

.logobox span {
    font-size: 1rem;
}

.header-boxbuttons {
    width: 70vw;
    overflow: hidden;
}

.header-boxbuttons span {
    font-size: 12px;
    overflow: hidden;
}

.botones {
    font-size: 14px !important;
}

.contCarritoIcon {
    margin-right: 0px;
    
}

.material-symbols-outlined {
    font-size: 2rem;
}

.homeDiv {
    height: 70vh;
    overflow: hidden;
}

.big-letter-container {
    top: 10vh;
    overflow: hidden;
    height: 60vh;
    

}

.bigLetterTienda,
.bigLetterOfertas,
.bigLetterLogin {
    font-size: 25vw;
    line-height: 1;

}

.derechosReservados {
    font-size: 10px;

}

.crudBackground {
    padding-top: 12vh;
}

.crudbox {


    gap: 3vh;
}

.crudbox h2 {
    font-size: 24px !important;
}

.table table-sm table-striped table-hover {

    width: 300px !important;

}

.tablaCrud {
    font-size: 12px;
}


    .tablaCrud .table th, 
    .tablaCrud .table td {
        padding: 0.25rem !important;
        vertical-align: middle;
    }


    .tablaCrud img {
        width: 30px !important;
        height: 30px !important;
    }

    .tablaCrud .botones-agregar-eliminar button {
        font-size: 10px;
        padding: 2px 5px;
        margin: 1px;
    }
}


@media (max-width: 480px) {

.tablaCrud th:nth-child(2), 
.tablaCrud td:nth-child(2) {
        display: none;
}

.divGallito {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gallito {
    width: 200vw;
}

.big-letter-container {
    height: 35vh;
}

}